* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font: 16px 'Open Sans', sans-serif;
    color: #121214;
    background: #f8f8ff;
}